/* universal style  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #001931;
}

/* common style */
.btn{
  display: inline-flex;
  background-color: #469165;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  height: 44px;
  transition: ease-in .3s;
  cursor: pointer;
}

.btn a{
  font-weight: 600;
  text-decoration: none;
  color: white;
}


.btn2{
  display: inline-flex;
  background-color: #469165;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  height: 52px;
  align-items: center;
  transition: ease-in .3s;
  cursor: pointer;
  box-shadow: 0 5px 10px #00193150;
}

.btn2 a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: flex;
  gap:10px ;
  align-items: center;
}

.btn3{
  background-color: transparent;
  border: 1px solid white;
  padding: 12.5px 16px;
  border-radius: 4px;
  transition: ease-in .3s;
  cursor: pointer;
}

.btn3 a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: flex;
  gap:10px ;
  align-items: center;
}

i{
  color: white;
}

.btn:hover{
  background-color: rgba(11, 11, 43, 0.88);
  transform: scale(1.1);
}

.btn2:hover{
  background-color: rgba(11, 11, 43, 0.88);
  transform: scale(1.1);
}

.btn3:hover{
  background-color: white;
  color:rgba(11, 11, 43, 0.88);
  transform: scale(1.1);
}

.btn3:hover a {
  color:rgba(11, 11, 43, 0.88);
}
.btn3:hover .fa-circle-play{
  color:rgba(11, 11, 43, 0.88);
}


/* style  */

#navigation {
  padding: 16px 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  max-width:139px ;
  cursor: pointer;
}

#navigation ul{
  display: flex;
  gap: 32px;
}

.menu li{
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 20px;
  border-radius: 4px;
  transition: ease .5s;
} 

#hero{
  text-align: center;
  background: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_content{
  padding: 115.5px 120px 179.5px;
  margin: 0 auto;
}

.early_access_frame{
  margin: 0 auto;
  max-width: 229px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.5px;
  padding: 12px 8px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 16px;
}

.early_access_frame p {
  font-weight: 500;
  color: #469165;
}
.circle_icon{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #469165;
  box-shadow: 0 0 0 3px #46916540, 0 0 0 5px #46916520;
}

.hero_content h2{
  font-size: 72px;
  color: white;
  line-height: 84px;
  margin-bottom: 16px;
}


.hero_discription {
  font-size: 18px;
  color: white;
  line-height:30px;
  margin-bottom: 32px;
}

.hero_buttonset{
  display: flex;
  gap: 20px;
  justify-content: center;
}

#notes {
  padding: 60px 120px 0 120px;
  text-align: center;
}

#notes h2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

#notes p{
  color: #627382;
  margin-bottom: 44px;
}
.notes_cardbox{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.notes_card{
  max-width: 322px;
  padding: 24px;
  box-shadow:0 -10px 10px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  transition: ease .3s;
}

.notes_card img{
  max-width: 60px;
  padding: 14px;
  border-radius: 50%;
  background-color: #F95555;
  margin-bottom: 16px;
}

.notes_card h3{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.notes_card p{
  color: #627382;
}

.solution_conainer{
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 120px;
}

.solution_info h2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.solution_info p{
  color: #627382;
  margin-bottom: 16px;
  margin-bottom: 40px;
}

.solution_info .solution_list{
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  color: #001931;
  margin-bottom: 16px;
}
#get_early_access{
  text-align: center;
  padding: 0 120px 120px 120px;
}

.get_early_access_info{
  background-color: #F7F6F2;
  padding: 80px 40px;
  border-radius: 13px;
}
#get_early_access h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

#get_early_access p {
  color: #627382;
  margin-bottom: 24px;
}

footer{
  background: #001931;
  color: white;
  justify-content: space-between;
  padding: 120px 120px 30px 120px;
  text-align: center;
}

.footer_container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

footer p{
  color: white;
}

.icon{
  display: flex;
  gap: 16px;
}

.social_icon p{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: white;
  margin-bottom: 16px;
}
hr{
  border: 1px solid #62738250;
  margin-bottom: 30px;
}

.notes_card:hover{
  transform: translateY(-20px);
}

.menu li:hover a{
  background-color: #469165;
  color: #ffffff;
  padding: 20px;
}




